---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Pagination from "@components/Pagination.astro";

const POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...12]{_id, title, slug, body, publishedAt}`;

const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);

import { availableLanguageTags } from "../../../paraglide/runtime";
import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";
import Container from "@components/Container.astro";

export async function getStaticPaths({ paginate }) {
    // return availableLanguageTags.map((lang) => ({ params: { lang } }));

    const POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...12]{_id, title, slug, body, publishedAt}`;
    const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY);

    return availableLanguageTags.flatMap((lang) => {
        return paginate(posts, {
            params: { lang },
            pageSize: 3,
        });
    });
}

const { page } = Astro.props;
const lang = Astro.currentLocale;

const firstUrl = page.currentPage > 1 ? `/${lang}/posts` : undefined;
const lastUrl =
    page.currentPage < page.lastPage ? `/${lang}/posts/${page.lastPage}` : undefined;
const prevUrl =
    page.currentPage > 2 ? `/${lang}/posts/${page.currentPage - 1}` : `/${lang}/posts`;
const nextUrl =
    page.currentPage < page.lastPage
        ? `/${lang}/posts/${page.currentPage + 1}`
        : undefined;
---

<Layout title="Home">
    <Container>
        <h1 class="text-4xl font-bold mb-8">Posts</h1>
        <ul class="grid grid-cols-3 gap-6">
            {
                page.data.map((post) => (
                    <Post
                        title={post.title}
                        body={post.body}
                        href={`/${lang}/posts/${post.slug.current}`}
                    />
                    // <li class="hover:underline">
                    //     <a href={`/en/posts/${post.slug.current}`}>
                    //         <h2 class="text-xl font-semibold">{post.title}</h2>
                    //         <p>{new Date(post.publishedAt).toLocaleDateString()}</p>
                    //     </a>
                    // </li>
                ))
            }
        </ul>
        <Pagination
            currentPage={page.currentPage}
            lastPage={page.lastPage}
            prevUrl={prevUrl}
            nextUrl={nextUrl}
            firstUrl={firstUrl}
            lastUrl={lastUrl}
        />
    </Container>
</Layout>
